# Dependencias
node_modules/

# Salidas de Angular
dist/
out-tsc/
.angular/

# Archivo de datos de JSON-Server
db.json

# Logs de npm/yarn
npm-debug.log*
yarn-error.log*

#node_modules/: elimina todas las dependencias instaladas.
#dist/, out-tsc/, .angular/: carpetas de build y cache de Angular CLI.
#db.json: tu fichero real de base de datos local de JSON‑Server.
#npm-debug.log*, yarn-error.log*: logs de errores de instalación.